$background: white;
$default: black;
$primary: linear-gradient(90deg, #ceb8ff 0, #a1dffd 51%, #d9c7ff);
$disabled: rgb(228, 233, 241);
$error: rgb(255, 118, 118);
$shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
  rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
$shadow-text: rgba(0, 0, 0, 0.1) 1px 1px 2px;
